<br/><br/>
<div class="row" >
  <div class="col-md-2" *ngIf="!dataFlag">
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="NameEmpl" id="Name" placeholder="Employee Name" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="SurNameEmpl" id="SurName" placeholder="Employee SurName" />
    </div>
  </div>
  <div class="col-md-2" *ngIf="dataFlag">
    <div class="form-group">
      <b>Name :</b> {{NameEmpl}}
    </div>
    <div class="form-group">
      <b>SurName :</b> {{SurNameEmpl}}
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <div class="btn-group" *ngIf="!dataFlag">
        <button type="button" class="btn btn-outline-success" id="searchButton" (click)="searchEmployee()" >
          Search Data
        </button>
      </div>
      <div class="btn-group" *ngIf="dataFlag">
        <button type="button" class="btn btn-outline-success" id="searchButton" (click)="changeEmployee()" >
          Change Data
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-3" *ngIf="!EditFlag">
    <div class="form-group">
      <b>Code :</b> {{Code}}
    </div>
    <div class="form-group">
      <b>Identificación :</b> {{Identificacion}}
    </div>
  </div>
  <div class="col-md-3" *ngIf="!EditFlag">
    <div class="form-group">
      <b>Begin Date :</b> {{this.getDate(BeginDate)}}
    </div>
    <div class="form-group">
      <b>Birthday :</b> {{this.getDate(Birthday)}}
    </div>
  </div>
  <div class="col-md-3" *ngIf="EditFlag">
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="Code" id="Code" placeholder="Employee Code" maxlength="10"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="Identificacion" id="Identificacion" placeholder="Identificacion Employee" maxlength="10"/>
    </div>
  </div>
  <div class="col-md-3" *ngIf="EditFlag">
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="BeginDate" id="BeginDate" placeholder="Begin Date" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="Birthday" id="Birthday" placeholder="Birthday" />
    </div>
  </div>
</div>
<br>
<div class="grid-table">
  <div class="thead">
      <div class="tr">
          <div class="td">Year</div>
          <div class="td">Month</div>
          <div class="td">Office</div>
          <div class="td">Division</div>
          <div class="td">Position</div>
          <div class="td">Grade</div>
          <div class="td">Base Salary</div>
          <div class="td">Prod Bonus</div>
          <div class="td">Comp Bonus</div>
          <div class="td">Commision</div>
          <div class="td">Contributions</div>
          <div class="td">
            <button class="btn btn-outline-success" (click)="saveAll()" *ngIf="dataFlag && haveData">
              <i class="fa fa-plus"></i> Save All
            </button>
          </div>
          <div class="td">
              <span *ngIf="notification" class="elementToFadeInAndOut">
                  <i class="fas fa-check-circle {{notification.class}}"></i>
                  {{notification.message}}
              </span>
          </div>
      </div>
  </div>
  <div class="tbody">
      <form class="tr" [formGroup]="fg" *ngFor="let fg of employeesForms.controls; let i=index;" (submit)="recordSubmit(fg)">
          <div class="td">
              <input class="form-control" formControlName="year" maxlength="4" pattern="^\d{4}$">
          </div>
          <div class="td">
              <select class="form-control" formControlName="month">
                <option value="0">Select</option>
                <option *ngFor="let item of monthList" value="{{item.id}}">{{item.name}}</option>
            </select>
          </div>
          <div class="td">
              <select class="form-control" formControlName="officeId">
                  <option value="0">Select</option>
                  <option *ngFor="let item of officeList" value="{{item.id}}">{{item.name}}</option>
              </select>
          </div>
          <div class="td">
              <select class="form-control" formControlName="divisionId">
                  <option value="0">Select</option>
                  <option *ngFor="let item of divisionList" value="{{item.id}}">{{item.name}}</option>
              </select>
          </div>
          <div class="td">
              <select class="form-control" formControlName="positionId">
                  <option value="0">Select</option>
                  <option *ngFor="let item of positionList" value="{{item.id}}">{{item.name}}</option>
              </select>
          </div>
          <div class="td">
              <input class="form-control" formControlName="grade" maxlength="2" pattern="^\d{1,2}?">
          </div>
          <div class="td">
              <input class="form-control" formControlName="baseSalary" maxlength="8" pattern="^[\d{5}]+[\.]?[\d{2}]*$">
          </div>
          <div class="td">
              <input class="form-control" formControlName="prodBono" maxlength="8" pattern="^[\d{5}]+[\.]?[\d{2}]*$">
          </div>
          <div class="td">
              <input class="form-control" formControlName="compBono" maxlength="8" pattern="^[\d{5}]+[\.]?[\d{2}]*$">
          </div>
          <div class="td">
              <input class="form-control" formControlName="commission" maxlength="8" pattern="^[\d{5}]+[\.]?[\d{2}]*$">
          </div>
          <div class="td">
              <input class="form-control" formControlName="contribution" maxlength="8" pattern="^[\d{5}]+[\.]?[\d{2}]*$">
          </div>
          <div class="td">
              <button type="submit" class="btn" [disabled]="fg.invalid" class="btn-success" *ngIf="fg.get('id').value==-1 && dataFlag">
                  <i class="far fa-save fa-lg"></i>
                      +
              </button>
              <div class="form-group">
                <div class="btn-group" role="group" >
                  <button class="btn btn-light ml-1" (click)="onDelete(fg.get('id').value,i)" *ngIf="fg.get('id').value!=-1">
                      x
                  </button>
                </div>
              </div>
          </div>
      </form>
  </div>
</div>
<app-confirm-dialog></app-confirm-dialog>
