<br/>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <b>Employee :</b> {{EmplName}}
    </div>
    <div class="form-group">
      <b>Code :</b> {{EmplCode}}
    </div>
    <div class="form-group">
      <b>Filter By :</b> {{MsgFilter}}
    </div>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle btn-outline-success" data-toggle="dropdown">
        Filters
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="getAllEmployees()">All</a></li>
        <li *ngIf="FilterFlag"><a (click)="onOfficeGrade()">Same Ofice-Grade</a></li>
        <li *ngIf="FilterFlag"><a (click)="onOfficesGrade()">Same Ofices-Grade</a></li>
        <li *ngIf="FilterFlag"><a (click)="onPositionGrade()">Same Position-Grade</a></li>
        <li *ngIf="FilterFlag"><a (click)="onPositionsGrade()">Same Positions-Grade</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="example-container mat-elevation-z8 demo-table">

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> full Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fullName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="division">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Division </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.division}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Position </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.position}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="beginDate">
      <mat-header-cell *matHeaderCellDef> Begin Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{this.getDate(row.beginDate)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <mat-header-cell *matHeaderCellDef> Birthday </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{this.getDate(row.birthday)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="identificationNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Identification </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.identificationNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalSalary">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Salary </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.totalSalary}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row (click)="onSelectRow(row.id, row.fullName, row.code)"
    [class.demo-row-is-clicked]="isSelectedRow(row.id, row.fullName, row.code)"
      *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

