<div class="col-md-11 ml-md-auto">
  <h1 >{{ViewName}}</h1>
  <div class="row">
    <div class="col-md-2">
      <span>You can generate 100 employees and each with 6 salary records. </span>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <div class="btn-group" role="group" >
          <button type="button" class="btn btn-outline-success" id="generateButton" (click)="onGenerate()" >
            Generate Data
          </button>
        </div>
      </div>
      <div class="form-group">
        <div class="btn-group" role="group" >
          {{Message}}
        </div>
      </div>
    </div>
  </div>
</div>
<app-confirm-dialog></app-confirm-dialog>
