/* You can add global styles to this file, and also import other style files */


/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.grid-table {
    display: table;
}

.thead {
    display: table-header-group;
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: #f0f8ff;
}

.tbody {
    display: table-row-group;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
    padding: 10px 1px 1px 5px;
}

.thead div.tr div.td:last-child {
    background-color: #fff;
}

i:hover {
    cursor: pointer;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border-color: #dc3545;
}

.elementToFadeInAndOut {
    -webkit-animation: fadeinout 20s linear forwards;
    animation: fadeinout 20s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.mat-header-row {
    background-color: #f0f8ff;
    font-weight: bold;
}