<br/><br/>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control" [(ngModel)]="EmplCode" id="Code" placeholder="Employee Code" />
          <div class="form-group">
            <span style="color:red;">{{Msg}}</span>
          </div>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-outline-success" id="generateButton" (click)="getEmployeeBono()" >
            Bono
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <b>Employee Name :</b> {{FullName}}
    </div>
    <div class="form-group">
      <b>Bono :</b> {{Bono}}
    </div>
    <table class="table">
      <thead class="mat-header-row">
        <tr>
          <th>Year</th>
          <th>Month</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody *ngIf="BonoFlag">
        <tr>
          <td>{{EmployeeBono.year}}</td>
          <td>{{this.getMonth(EmployeeBono.month, 0)}}</td>
          <td>{{EmployeeBono.salary1}}</td>
        </tr>
        <tr>
          <td>{{this.getYear(EmployeeBono.year, EmployeeBono.month, 1)}}</td>
          <td>{{this.getMonth(EmployeeBono.month, 1)}}</td>
          <td>{{EmployeeBono.salary2}}</td>
        </tr>
        <tr>
          <td>{{this.getYear(EmployeeBono.year, EmployeeBono.month, 2)}}</td>
          <td>{{this.getMonth(EmployeeBono.month, 2)}}</td>
          <td>{{EmployeeBono.salary3}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
