<div class="toolbar" role="banner">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-11">
      <div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle [routerLink]="['/generateData']">Generate Data</mat-button-toggle>
          <mat-button-toggle [routerLink]="['/insertEmployee']">Add/Edit</mat-button-toggle>
          <mat-button-toggle [routerLink]="['/showEmployees']">Employees</mat-button-toggle>
          <mat-button-toggle [routerLink]="['/bonoEmployee']">Bono</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>

  <div class="spacer"></div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <br/><br/><br/>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
